/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}*/


@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

*{
	font-family: 'Baloo Paaji 2', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	background: #f5f5f5;
}

.top_navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	box-shadow: 1px 0 2px rgba(0,0,0,0.125);
	display: flex;
	align-items: center;
}

.top_navbar .logo{
	width: 250px;
	font-size: 25px;
	font-weight: 600;
	padding: 0 25px;
	color: #007dc3;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-right: 1px solid #f5f5f5;
}

.top_navbar .logo span{
	font-weight: 400;
}

.top_navbar .menu{
	width: calc(100% - 250px);
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top_navbar .hamburger{
	font-size: 25px;
	cursor: pointer;
	color: #005faf;
}

.top_navbar .hamburger:hover{
	color: #007dc3;
}

.top_navbar .menu .profile_wrap{
	padding-left: 25px;
	border-left: 1px solid #f5f5f5;
}

.top_navbar .menu .profile img{
	width: 25px;
	height: 25px;
}

.top_navbar .menu .profile{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.top_navbar .menu .profile .name{
	margin: 0 15px;
}

.hover_collapse .sidebar{
	width: 70px;
}

.hover_collapse .sidebar ul li a .text{
	display: none;
}

.sidebar{
	position: fixed;
	top: 60px;
	left: 0;
	width: 250px;
	height: 100%;
	background: #005faf;
}

.sidebar ul li a{
	display: block;
	padding: 12px 25px;
	border-bottom: 1px solid #0e94d4;
	color: #0e94d4;
	transition: all 0.2s ease;
}

.sidebar ul li a .icon{
	font-size: 18px;
	vertical-align: middle;
	transition: background 0.2s ease;
}

.sidebar ul li a .text{
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sidebar ul li a:hover{
	background: #0e94d4;
	color: #fff;
}

.click_collapse .sidebar{
	transition: all 0.2s ease;
}

.main_container{
	margin-top: 60px;
	margin-left: 70px;
	padding: 25px;
	width: calc(100% - 70px);
}

.main_container .content{
	background: #fff;
	padding: 25px;
	margin-bottom: 25px;
	text-align: justify;
}

.click_collapse .main_container{
	width: calc(100% - 250px);
	margin-left: 250px;
	transition: all 0.2s ease;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.wrapper{

  max-width: 450px;
  margin: 60px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px 0 10px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{

  padding: 0;
  opacity: 0;

  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}


.search-input .icon{
  position: absolute;

  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.slider{
  position: relative;
padding-bottom: 200px;
  width: 1500px;
  min-height: 500px;
  margin-right :90px;
  margin-bottom: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 50%;
  object-fit: cover;
}




.navigation{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}



.footer{
	padding-top: 50px;
	background: #B8171A;
	margin-top: 60px ;
	color: #fff;
}
.footer-container{
	margin: 0% 6%!important;
}
.footer-content{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}
.footer-logo{
}
.footer-logo>img{
	width: 333px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.footer-links{
	margin: 30px;
	text-align: left;
	padding-left: 24px;
	font-size: 16px;
}
div{
	display: block;
}
ul{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
.about{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.footer-links li{
	margin-bottom: 7px;

}

.footer-get{
	

}
.footer-get h1{
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	margin-bottom: 16px;
	line-height: 38px;
}
.social-links{
	display: flex;
	color: red;
	justify-content: space-between;
	width: 150px;
}
.footer-bottom-text{
	text-align: center;
	padding: 20px;
	
}
